@page "/developer/delete/{Id:guid}"
@using DeveloperDemoPortal.Shared.Models
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


<h3>Delete Developer</h3>
<PageTitle>Delete Developer</PageTitle>
<br />

<div class="form-group">
    <h4>Do you want to delete @developer.UserName ?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>User Name</td>
                <td>@developer.UserName</td>
            </tr>
            <tr>
                <td>Company</td>
                <td>@developer.Company</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@developer.Email</td>
            </tr>
            
        </tbody>
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Delete" @onclick="async () => await RemoveDeveloper(developer.Id)" class="btn btn-danger" />
    <input type="submit" value="Cancel" @onclick="async () => HomePage()" class="btn btn-warning" />
</div>

@code {

    [Parameter]
    public Guid Id { get; set; }

    Developer developer = new ();

    protected override async Task OnInitializedAsync()
    {
        developer = await HttpClient.GetFromJsonAsync<Developer>($"api/developer/{Id}");
    }

    protected async Task RemoveDeveloper(Guid Id)
    {
        await HttpClient.DeleteAsync($"api/developer/{Id}");
        HomePage();
    }

    public void HomePage()
    {
        NavigationManager.NavigateTo("/developerdetails");
    }
}
